
@{
    ViewData["Title"] = "Avatar";
}

<h1>Avatar</h1>

<img id="img1" />


<script>
    const myImg = document.querySelector('#img1');
    (async () => {
        const response = await fetch('@Url.Content("~/api/avatar?id=3")');
        if (!response.ok) {
            console.log(`有錯誤：${response.status}`)
            return
        }
        const datas = await response.blob()
        myImg.src = URL.createObjectURL(datas)
    })();

</script>