
@{
    ViewData["Title"] = "First";
}

<h1>First Ajax Demo</h1>
<input type="button" class="btn btn-primary mb-3" value="Ajax開始" id="buttonStart" />
<input type="button" class="btn btn-primary mb-3" value="Ajax停止" id="buttonStop" />
<img src="~/images/Skateboarding.gif" style="display:none" id="img1" />
<div class="alert alert-info" id="divinfo"></div>

@section Scripts{
    <script>
        const btnStart = document.querySelector("#buttonStart");
        const divinfo = document.querySelector("#divinfo");
        const img1 = document.querySelector('#img1');
        const btnStop = document.querySelector('#buttonStop');
        let abortController;


        btnStart .addEventListener('click', async ()=>{
            //ajax
            try {
                btnStart.setAttribute("disabled", "disabled");
                img1.style.display = "inline";
                btnStart.value = "執行中...";

                abortController = new AbortController();
                const signal = abortController.signal;

                setTimeout(() => {
                    abortController.abort();
                }, 5000)

                const response = await fetch('@Url.Action("Index", "Api")', { signal });

                if (!response.ok) throw new Error(`錯誤訊息: ${response.status}`);

                const data = await response.text();
                divinfo.innerHTML = `<h3>${data}</h3>`;
                console.log(response);
                console.log(data);
            }
             catch(error) {
                        // divinfo.innerHTML = error.message
                let message = error.message;

                if (error.name === "AbortError") {
                    message = "伺服器忙碌中，請稍後再來"
                }
                divInfo.innerHTML = `<h3>${message}</h3>`;

            } finally {
                setTimeout(( )=>{
                    console.log('finally');
                    //隱藏執行中圖示
                    img1.style.display = "none";
                    btnStart.removeAttribute('disabled');
                    btnStart.value = "Ajax 開始";
                    console.log("finally");
                }, 5000)

            }

            // fetch("/Api/Index")
            
            // fetch('@Url.Content("~/Api/Index")')
            
            // fetch('@Url.Action("Index", "Api")')
            //     .then(response => {
            //         if (!response.ok) {
            //             throw new Error(`有錯誤，狀態碼：${response.status}`);
            //         }
            //         response.headers.forEach((value, name) => {
            //             console.log(`${name}:${value}`);
            //         })
            //         console.log(response);
            //         console.log(response.text);
            //         return response.text();
            //     })
            //     .then(data => {
            //         divinfo.innerHTML = `<h3>${data}</h3>`;
            //     })
            //     .catch(error => divinfo.innerHTML = error.message);

            // divinfo.innerHTML = "<h3>Ajax 啟動</h3>";
        })

        btnStop.addEventListener('click', () => {
            if (abortController) {
                abortController.abort();
            }
        })
    </script>
}
